@media(max-width:440px){
    .menu{
        width: 375px;
        height: 1800px;
        display: flex;
        flex-direction: column;
    }

    ul{
        display: flex;
        flex-direction: column;
    }
}